{% extends "app_pagina/base.html" %}

{%block title%}
    |cliente
{%endblock title%}

{%block content_title%}
    CLIENTE
{%endblock content_title%}

{%block content%}
    <button><a href="{% url 'cliente:cliente_list' %}">Lista de clientes</a></button>
    <button><a href="{% url 'cliente:pais_list' %}">Lista de paises</a></button>
    <button><a href="{% url 'cliente:cliente_create' %}">crear cliente</a></button>
    <button><a href="{% url 'app_pagina:index' %}">atras</a></button>
    

{%endblock content%}
