{% extends "principal/base.html" %}

{% block title %}
    | Login
{% endblock title %}

{%block content_title %}
    
{%endblock content_title%}

{%block content%}
    <header class="py-2 bg-light border-bottom mb-2">

        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Login</h1>
                
            </div>
        
    </header>
   <form method="post" class="form-control">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{%url 'principal:index'%}">

        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        <a href="{% url 'principal:index'%}" class="btn btn-primary">Cancelar</button></a>
        
    
    </form>

{%endblock content%}