{% extends "principal/base.html" %}

{% block title %}
    | Sedes
{% endblock title %}

{%block content_title %}
    
{%endblock content_title%}

{%block content%}
<header class="py-2 bg-light border-bottom mb-2">

    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Sedes</h1>
            <p class="lead mb-0">Nuestras sedes, donde podras ir con el simple hecho de estar suscripto. </p>
        </div>
    
</header>

<div class="row">
    <div class="col-lg-4">
        <!-- Blog post-->
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://i.pinimg.com/736x/8c/2e/21/8c2e21d678b8bf4d177cfccca677c072.jpg" alt="..." /></a>
            <div class="card-body">
                <h2 class="card-title h4">Caballito</h2>
                <p class="card-text">El barrio de caballito, sede principal, aqui tiene las mejores maquinas.</p>
                
                <a class="btn btn-success" href="{%url 'cliente:cliente_create' %}">Suscribirme</a>
            </div>
        </div>
        <!-- Blog post-->
        
    </div>
    <div class="col-lg-4">
        <!-- Blog post-->
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Gimnasio_Ol%C3%ADmpico_Juan_de_la_Barrera_2021_4.jpg" alt="..." /></a>
            <div class="card-body">
                <h2 class="card-title h4">Retiro</h2>
                <p class="card-text">El barrio de retiro, la mejor y mas bella ubicacion, cerca del tren.</p>
                
                <a class="btn btn-success" href="{%url 'cliente:cliente_create' %}">Suscribirme</a>
            </div>
        </div>

        
    </div>
    <div class="col-lg-4">
        <!-- Blog post-->
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://media.istockphoto.com/id/1316730217/es/foto/fachada-de-la-entrada-del-gimnasio-con-cinta-de-correr-pelota-de-fitness-y-otros-equipos-de.jpg?s=612x612&w=0&k=20&c=lRfgkukWJad1T25LAc8BcWzLtJSW88vRegyw5wXXrWs=" alt="..." /></a>
            <div class="card-body">
                <h2 class="card-title h4">Lomas de zamora</h2>
                <p class="card-text">El barrio de Lomas, para nuestros vecinos de provincia.</p>
                
                <a class="btn btn-success" href="{%url 'cliente:cliente_create' %}">Suscribirme</a>
            </div>
        </div>

        
    </div>
    
</div>
    
    
{%endblock content%}

