{% extends 'app_pagina/base.html' %}

{% load static %}

{% block title %}
    | Inicio
{% endblock title %}


{% block content_title %}
      Viaja seguro con nosotros
{% endblock content_title %}


{% block content %}
    <h2>Indica tu cargo:</h2>
        
    <button><a href="{% url 'cliente:cliente_list' %}">Cliente</a></button>
    <button><a href="{% url 'admin:index' %}">Administración</a></button>


    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'app_pagina/img/jumbo-jet-volando-cielo_23-2150895681.avif' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Registrate ya en nuestra pagina</h1>
            <p>Registrate YA en nuestra pagina y podras ganar un monton de viajes. Obtene un monton de beneficios!!!</p>
            <a class="btn btn-primary" href="{% url 'cliente:cliente_create' %}">Registrate!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">La base de datos mas esperada de todos los tiempos. Con Radeon Airlines mas que un viaje, sera una travesia. </p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Clientes</h2>
                    <p class="card-text">Empeza a ser un Airliner con nosotros y registrate aca.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'cliente:cliente_create' %}">Registrate!</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Destinos</h2>
                    <p class="card-text">Conozca cuales son nuestros principales destinos</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'cliente:pais_list' %}">Destinos!</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Comidas</h2>
                    <p class="card-text">Tomaremos nota de su comida favorita, que ofrece nuestra empresa, para llevarsela en el momento de vuelo</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'cliente:comida_list' %}">Comida</a></div>
            </div>
        </div>
    </div>
{% endblock content %}